:root {
  --main-color: rgb(228, 201, 106);
}


body{
    background-image: url("https://media1.tenor.com/m/MbQMYpdJfoEAAAAd/parrot-playful.gif");
    
}

.navbutton{
  background-color: var(--main-color);
}
#canvas{
  background-color: rgb(129, 208, 233);
}
.game-title{
    color: var(--main-color);
}