:root {
  --main-color: rgb(228, 201, 106);
}

.navbutton{
  background-color: var(--main-color);
}
#canvas{
  background-color: rgb(129, 208, 233);
}
.game-title{
    color: var(--main-color);
}